*,
*::before,
*::after {
  box-sizing: border-box;
}

.fancy-link {
  text-decoration: none;
  color: #ee6352;
}

.button {
  cursor: pointer;
  border: 0;
  background: #ee6352;
  color: white;
  padding: 1em 1.5em;
}

.button + .button {
  margin-left: 1em;
}

.card {
  padding: 2rem;
  background-image: url(https://unsplash.it/600);
  /* placeholder image */
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
  color: white;
  text-align: left;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
}

.content {
  background: white;
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 1em;
}

.title {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: 0.8;
}