* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  .movie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color:#2e3036;
    border-bottom: black;
    text-align: left;
    font: italic, bold;
    size: auto;
  }
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  .search-cta {
    padding: 9px 25px;
    background-color: rgb(203, 228, 235);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  .cta:hover {
    background-color: rgba(48, 6, 126, 0.8);
    
  }
  .list-body{
      background-color: rgb(rgb(24, 170, 163));
  }
  .player-title-bar {
    display: none;
    background-color: black;
    color: #c0c0c0;
    padding: 5 10 5 10;
}
.text-center {
    text-align: center;
}
 
  